@import '../../../../vars';
.card {
    max-height: 600px;
    min-height: 430px;
    transition: ease-in 0.3s;
    margin-bottom: 50px;
    .card-header {
        padding: 0;
        border: none;
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    .card-body {
        border: none;
        padding: 30px;
        h4 {
            font-size: 13pt;
        }
        p {
            font-size: 10.5pt;
            color: $tertiary;
        }
    }
    .card-footer {
        border: none;
        padding-left: 30px;
        background-color: white;
        a {
            color: grey;
            text-decoration: none;
            fa-icon {
                transition: ease-in 0.3s;
                margin-left: 3px;
            }
        }
    }
}

.card:hover {
    transform: scale(1.01);
    cursor: pointer;
    .card-body {
        h4,
        p {
            color: white;
        }
        background-color: $primary;
    }
    .card-footer {
        background-color: $primary;
        a {
            color: white;
            font-weight: bold;
            fa-icon {
                margin-left: 6px;
            }
        }
    }
}